<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.crawer.biz.mapper.crawer.CommentImgMapper">
	<resultMap id="BaseResultMap" type="com.mk.crawer.biz.model.crawer.CommentImg">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
		<result column="hotel_source_id" property="hotelSourceId"
			jdbcType="VARCHAR" />
		<result column="comment_id" property="commentId" jdbcType="BIGINT" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="small_url" property="smallUrl" jdbcType="VARCHAR" />
		<result column="tag" property="tag" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="src" property="src" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, hotel_id, hotel_source_id, comment_id, url, small_url, tag, title,
		src, create_time, update_time
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_ex_comment_img
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_ex_comment_img
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.mk.crawer.biz.model.crawer.CommentImg">
		insert into t_ex_comment_img (id, hotel_id, hotel_source_id,
		comment_id,
		url, small_url, tag,
		title, src)
		values (#{id,jdbcType=BIGINT}, #{hotelId,jdbcType=BIGINT},
		#{hotelSourceId,jdbcType=VARCHAR}, #{commentId,jdbcType=BIGINT},
		#{url,jdbcType=VARCHAR}, #{smallUrl,jdbcType=VARCHAR},
		#{tag,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR}, #{src,jdbcType=VARCHAR})
	</insert>

</mapper>