<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.crawer.biz.mapper.crawer.CommentMapper">
	<resultMap id="BaseResultMap" type="com.mk.crawer.biz.model.crawer.Comment">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
		<result column="hotel_source_id" property="hotelSourceId"
			jdbcType="VARCHAR" />
		<result column="comment_id" property="commentId" jdbcType="VARCHAR" />
		<result column="num_of_useful" property="numOfUseful" jdbcType="BIGINT" />
		<result column="enc" property="enc" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="VARCHAR" />
		<result column="gid" property="gid" jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="DECIMAL" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="click_useful_status" property="clickUsefulStatus"
			jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="image_id" property="imageId" jdbcType="VARCHAR" />
		<result column="reply_num" property="replyNum" jdbcType="BIGINT" />
		<result column="cuid" property="cuid" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, hotel_id, hotel_source_id, comment_id, num_of_useful,
		enc, content,
		date, gid, score, title, click_useful_status, author,
		image_id,
		reply_num, cuid, create_time, update_time
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_ex_comment
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		t_ex_comment
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.mk.crawer.biz.model.crawer.Comment">
		insert into t_ex_comment (id,
		hotel_id, hotel_source_id, comment_id, num_of_useful, enc, content,
		date, gid, score, title,
		click_useful_status, author, image_id,
		reply_num, cuid)
		values
		(#{id,jdbcType=BIGINT}, #{hotelId,jdbcType=BIGINT},
		#{hotelSourceId,jdbcType=VARCHAR},
		#{commentId,jdbcType=VARCHAR},
		#{numOfUseful,jdbcType=BIGINT},
		#{enc,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{date,jdbcType=VARCHAR},
		#{gid,jdbcType=VARCHAR}, #{score,jdbcType=DECIMAL},
		#{title,jdbcType=VARCHAR},
		#{clickUsefulStatus,jdbcType=VARCHAR},
		#{author,jdbcType=VARCHAR}, #{imageId,jdbcType=VARCHAR},
		#{replyNum,jdbcType=BIGINT}, #{cuid,jdbcType=VARCHAR})
	</insert>

</mapper>