<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.crawer.biz.mapper.crawer.CommentSumMapper">
	<resultMap id="BaseResultMap" type="com.mk.crawer.biz.model.crawer.CommentSum">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
		<result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
		<result column="hotel_source_id" property="hotelSourceId"
			jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="DECIMAL" />
		<result column="good_total" property="goodTotal" jdbcType="BIGINT" />
		<result column="bad_total" property="badTotal" jdbcType="BIGINT" />
		<result column="medium_total" property="mediumTotal" jdbcType="BIGINT" />
		<result column="all_total" property="allTotal" jdbcType="BIGINT" />
		<result column="image_count" property="imageCount" jdbcType="BIGINT" />
		<result column="hot_titles" property="hotTitles" jdbcType="VARCHAR" />
		<result column="tags" property="tags" jdbcType="VARCHAR" />
		<result column="sentence_cmt" property="sentenceCmt" jdbcType="VARCHAR" />
		<result column="score_shop_msg" property="scoreShopMsg"
			jdbcType="VARCHAR" />
		<result column="score_shop_url" property="scoreShopUrl"
			jdbcType="VARCHAR" />
		<result column="msg" property="msg" jdbcType="VARCHAR" />
		<result column="valid" property="valid" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, hotel_id, hotel_name, hotel_source_id, score,
		good_total, bad_total,
		medium_total, all_total, image_count,
		hot_titles, tags, sentence_cmt, score_shop_msg, score_shop_url, msg,
		valid,
		create_time,
		update_time
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_ex_comment_sum
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectScoreByOtsId" resultType="map" parameterType="java.lang.String">
		select sum.score score, map.ex_hotel_id as
		hotel_source_id
		from
		t_ex_comment_sum sum
		join ots_ex_hotel_mapping map
		on
		sum.hotel_source_id = map.ex_hotel_id
		where map.ots_hotel_id =
		#{hotelId,jdbcType=VARCHAR}
	</select>

	<select id="selectOtsHotelId" resultType="map">
		select
		ots_hotel_id
		from
		ots_ex_hotel_mapping
		where ex_hotel_id IS NOT NULL AND ots_hotel_id IS NOT NULL and valid = 'T'
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		t_ex_comment_sum
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.mk.crawer.biz.model.crawer.CommentSum">
		insert into t_ex_comment_sum
		(hotel_id, hotel_name, hotel_source_id, score,
		good_total,
		bad_total,
		medium_total,
		all_total, image_count, hot_titles,
		tags,
		sentence_cmt,
		score_shop_msg,
		score_shop_url, msg, valid)
		values (
		#{hotelId,jdbcType=BIGINT},#{hotelName,jdbcType=VARCHAR},#{hotelSourceId,jdbcType=VARCHAR},
		#{score,jdbcType=DECIMAL},
		#{goodTotal,jdbcType=BIGINT},
		#{badTotal,jdbcType=BIGINT}, #{mediumTotal,jdbcType=BIGINT},
		#{allTotal,jdbcType=BIGINT}, #{imageCount,jdbcType=BIGINT},
		#{hotTitles,jdbcType=VARCHAR},
		#{tags,jdbcType=VARCHAR},
		#{sentenceCmt,jdbcType=VARCHAR}, #{scoreShopMsg,jdbcType=VARCHAR},
		#{scoreShopUrl,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR},
		#{valid,jdbcType=VARCHAR})
	</insert>


</mapper>