<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.crawer.biz.model.crawer.GdHotelPhotosMapper">
  <resultMap id="BaseResultMap" type="com.mk.crawer.biz.model.crawer.GdHotelPhotos">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hotel_source_id" jdbcType="VARCHAR" property="hotelSourceId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hotel_source_id, title, url
  </sql>
  <sql id="Base_Query_List">
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="hotelSourceId != null">
        AND hotel_source_id = #{hotelSourceId}
      </if>
      <if test="title != null">
        AND title = #{title}
      </if>
    </where>
  </sql>

  <select id="qureyByPramas" resultMap="BaseResultMap" parameterType="com.mk.crawer.biz.model.crawer.GdHotelPhotos" >
    select
    <include refid="Base_Column_List" />
    from gd_hotel_photos
    <include refid="Base_Query_List" />
  </select>
  <select id="count" parameterType="com.mk.crawer.biz.model.crawer.GdHotelPhotos" resultType="java.lang.Integer" >
    select count(*) from gd_hotel_photos
    <include refid="Base_Query_List" />
    ORDER BY id DESC
  </select>
  <select id="getByPramas" resultMap="BaseResultMap" parameterType="com.mk.crawer.biz.model.crawer.GdHotelPhotos" >
    select
    <include refid="Base_Column_List" />
    from gd_hotel_photos
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    limit 1
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from gd_hotel_photos
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.crawer.biz.model.crawer.GdHotelPhotos">
    insert into gd_hotel_photos (id, hotel_source_id, title, 
      url)
    values (#{id,jdbcType=BIGINT}, #{hotelSourceId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR})
  </insert>
  <update id="updateById" parameterType="com.mk.crawer.biz.model.crawer.GdHotelPhotos">
    update gd_hotel_photos
    <set>
      <if test="hotelSourceId != null">
        hotel_source_id = #{hotelSourceId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>