<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.crawer.biz.mapper.crawer.HotelFacilitiesMapper">
	<resultMap id="BaseResultMap" type="com.mk.crawer.biz.model.HotelFacilities">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
		<result column="hotel_source_id" property="hotelSourceId"
			jdbcType="VARCHAR" />
		<result column="short_name" property="shortName" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="field" property="field" jdbcType="VARCHAR" />
		<result column="low_star_sort" property="lowStarSort" jdbcType="BIGINT" />
		<result column="high_star_sort" property="highStarSort"
			jdbcType="BIGINT" />
		<result column="oversea_sort" property="overseaSort" jdbcType="BIGINT" />
		<result column="color" property="color" jdbcType="BIGINT" />
		<result column="icon_big_url" property="iconBigUrl" jdbcType="VARCHAR" />
		<result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
		<result column="display" property="display" jdbcType="VARCHAR" />
		<result column="item" property="item" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, hotel_id, hotel_source_id, short_name, type, field,
		low_star_sort,
		high_star_sort,
		oversea_sort, color, icon_big_url,
		icon_url, display,
		item, create_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_ex_hotel_facilities
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		t_ex_hotel_facilities
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.mk.crawer.biz.model.HotelFacilities">
		insert into
		t_ex_hotel_facilities (hotel_id,hotel_source_id,
		short_name, type,
		field,
		low_star_sort, high_star_sort, oversea_sort,
		color, icon_big_url,
		icon_url,
		display,
		item, create_time, update_time
		)
		values
		(
		#{hotelId,jdbcType=BIGINT},#{hotel_source_id,jdbcType=VARCHAR},
		#{shortName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
		#{field,jdbcType=VARCHAR},
		#{lowStarSort,jdbcType=BIGINT},
		#{highStarSort,jdbcType=BIGINT}, #{overseaSort,jdbcType=BIGINT},
		#{color,jdbcType=BIGINT},
		#{iconBigUrl,jdbcType=VARCHAR},#{iconUrl,jdbcType=VARCHAR},
		#{display,jdbcType=VARCHAR},
		#{item,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.mk.crawer.biz.model.HotelFacilities">
		insert into t_ex_hotel_facilities
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="hotelId != null">
				hotel_id,
			</if>
			<if test="hotelSourceId != null">
				hotel_source_id,
			</if>
			<if test="shortName != null">
				short_name,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="field != null">
				field,
			</if>
			<if test="lowStarSort != null">
				low_star_sort,
			</if>
			<if test="highStarSort != null">
				high_star_sort,
			</if>
			<if test="overseaSort != null">
				oversea_sort,
			</if>
			<if test="color != null">
				color,
			</if>
			<if test="iconUrl != null">
				icon_url,
			</if>
			<if test="display != null">
				display,
			</if>
			<if test="item != null">
				item,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="hotelId != null">
				#{hotelId,jdbcType=BIGINT},
			</if>
			<if test="hotelSourceId != null">
				#{hotelSourceId,jdbcType=VARCHAR},
			</if>
			<if test="shortName != null">
				#{shortName,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="field != null">
				#{field,jdbcType=VARCHAR},
			</if>
			<if test="lowStarSort != null">
				#{lowStarSort,jdbcType=BIGINT},
			</if>
			<if test="highStarSort != null">
				#{highStarSort,jdbcType=BIGINT},
			</if>
			<if test="overseaSort != null">
				#{overseaSort,jdbcType=BIGINT},
			</if>
			<if test="color != null">
				#{color,jdbcType=BIGINT},
			</if>
			<if test="iconUrl != null">
				#{iconUrl,jdbcType=VARCHAR},
			</if>
			<if test="display != null">
				#{display,jdbcType=VARCHAR},
			</if>
			<if test="item != null">
				#{item,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

</mapper>