<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.crawer.biz.mapper.crawer.RoomTypePriceMapper">
	<resultMap id="BaseResultMap" type="com.mk.crawer.biz.model.crawer.RoomTypePrice">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
		<result column="hotel_source_id" property="hotelSourceId"
			jdbcType="VARCHAR" />
		<result column="room_type_id" property="roomTypeId" jdbcType="BIGINT" />
		<result column="room_type_key" property="roomTypeKey" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="o_price" property="oPrice" jdbcType="DECIMAL" />
		<result column="real_price" property="realPrice" jdbcType="DECIMAL" />
		<result column="origin_price" property="originPrice" jdbcType="DECIMAL" />
		<result column="show_price" property="showPrice" jdbcType="DECIMAL" />
		<result column="ota_show_price" property="otaShowPrice"
			jdbcType="DECIMAL" />
		<result column="wrapper_name" property="wrapperName" jdbcType="VARCHAR" />
		<result column="wrapper_id" property="wrapperId" jdbcType="VARCHAR" />
		<result column="all_room_count" property="allRoomCount"
			jdbcType="INTEGER" />
		<result column="available_roomcount" property="availableRoomcount"
			jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, room_type_id, room_type_key, hotel_id, hotel_source_id,
		price,o_price,
		real_price, origin_price, show_price, ota_show_price,
		wrapper_name, wrapper_id,
		all_room_count, available_roomcount,
		crawer_time,
		create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_ex_roomtype_price
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		t_ex_roomtype_price
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.mk.crawer.biz.model.crawer.RoomTypePrice">
		insert into
		t_ex_roomtype_price (room_type_id, room_type_key, hotel_id,
		hotel_source_id,
		price, o_price, real_price, origin_price,
		show_price,
		ota_show_price, wrapper_name,
		wrapper_id, all_room_count,
		available_roomcount, update_time
		)
		values
		(#{roomTypeId,jdbcType=BIGINT},
		#{roomTypeKey,jdbcType=VARCHAR},
		#{hotelId,jdbcType=BIGINT},
		#{hotelSourceId,jdbcType=VARCHAR},
		#{price,jdbcType=DECIMAL},
		#{oprice,jdbcType=DECIMAL},		
		#{realPrice,jdbcType=DECIMAL}, #{originPrice,jdbcType=DECIMAL},
		#{showPrice,jdbcType=DECIMAL}, #{otaShowPrice,jdbcType=DECIMAL},
		#{wrapperName,jdbcType=VARCHAR},
		#{wrapperId,jdbcType=VARCHAR},
		#{allRoomCount,jdbcType=INTEGER},
		#{availableRoomcount,jdbcType=INTEGER},
		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.mk.crawer.biz.model.crawer.RoomTypePrice">
		insert into t_ex_roomtype_price
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="roomTypeId != null">
				room_type_id,
			</if>
			<if test="roomTypeKey != null">
				room_type_key,
			</if>
			<if test="hotelId != null">
				hotel_id,
			</if>
			<if test="hotelSourceId != null">
				hotel_source_id,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="oprice != null">
				o_price,
			</if>
			<if test="realPrice != null">
				real_price,
			</if>
			<if test="originPrice != null">
				origin_price,
			</if>
			<if test="showPrice != null">
				show_price,
			</if>
			<if test="otaShowPrice != null">
				ota_show_price,
			</if>
			<if test="wrapperName != null">
				wrapper_name,
			</if>
			<if test="wrapperId != null">
				wrapper_id,
			</if>
			<if test="allRoomCount != null">
				all_room_count,
			</if>
			<if test="availableRoomcount != null">
				available_roomcount,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="roomTypeId != null">
				#{roomTypeId,jdbcType=BIGINT},
			</if>
			<if test="roomTypeKey != null">
				#{roomTypeKey,jdbcType=BIGINT},
			</if>
			<if test="hotelId != null">
				#{hotelId,jdbcType=BIGINT},
			</if>
			<if test="hotelSourceId != null">
				#{hotelSourceId,jdbcType=BIGINT},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
			<if test="oprice != null">
				#{oprice,jdbcType=DECIMAL},
			</if>
			<if test="realPrice != null">
				#{realPrice,jdbcType=DECIMAL},
			</if>
			<if test="originPrice != null">
				#{originPrice,jdbcType=DECIMAL},
			</if>
			<if test="showPrice != null">
				#{showPrice,jdbcType=DECIMAL},
			</if>
			<if test="otaShowPrice != null">
				#{otaShowPrice,jdbcType=DECIMAL},
			</if>
			<if test="wrapperName != null">
				#{wrapperName,jdbcType=VARCHAR},
			</if>
			<if test="wrapperId != null">
				#{wrapperId,jdbcType=VARCHAR},
			</if>
			<if test="allRoomCount != null">
				#{allRoomCount,jdbcType=INTEGER},
			</if>
			<if test="availableRoomcount != null">
				#{availableRoomcount,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

</mapper>