<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.crawer.biz.mapper.crawer.RoomTypeMapper">
	<resultMap id="BaseResultMap" type="com.mk.crawer.biz.model.RoomType">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
		<result column="hotel_source_id" property="hotelSourceId"
			jdbcType="VARCHAR" />
		<result column="count" property="count" jdbcType="BIGINT" />
		<result column="key" property="key" jdbcType="VARCHAR" />
		<result column="bed_type" property="bedType" jdbcType="VARCHAR" />
		<result column="room_name" property="roomName" jdbcType="VARCHAR" />
		<result column="room_type" property="roomType" jdbcType="VARCHAR" />
		<result column="area" property="area" jdbcType="VARCHAR" />
		<result column="network_price" property="networkPrice"
			jdbcType="VARCHAR" />
		<result column="room_category" property="roomCategory"
			jdbcType="VARCHAR" />
		<result column="rt_area" property="rtArea" jdbcType="VARCHAR" />
		<result column="rt_floor" property="rtFloor" jdbcType="VARCHAR" />
		<result column="rt_broadband" property="rtBroadband" jdbcType="VARCHAR" />
		<result column="rt_bedtype" property="rtBedtype" jdbcType="VARCHAR" />
		<result column="rt_addbed" property="rtAddbed" jdbcType="VARCHAR" />
		<result column="bath" property="bath" jdbcType="VARCHAR" />
		<result column="window" property="window" jdbcType="VARCHAR" />
		<result column="wifi" property="wifi" jdbcType="VARCHAR" />
		<result column="max_customers" property="maxCustomers"
			jdbcType="BIGINT" />
		<result column="add_bed_price" property="addBedPrice" jdbcType="BIGINT" />
		<result column="currency_sign" property="currencySign"
			jdbcType="VARCHAR" />
		<result column="extra_bed" property="extraBed" jdbcType="VARCHAR" />
		<result column="order_all" property="orderAll" jdbcType="VARCHAR" />
		<result column="mprice" property="mprice" jdbcType="DECIMAL" />
		<result column="has_quick_check_in" property="hasQuickCheckIn"
			jdbcType="VARCHAR" />
		<result column="have_coupons" property="haveCoupons" jdbcType="VARCHAR" />
		<result column="outer_show" property="outerShow" jdbcType="VARCHAR" />
		<result column="district_name" property="districtName"
			jdbcType="VARCHAR" />
		<result column="has_tuangou" property="hasTuangou" jdbcType="VARCHAR" />
		<result column="roominfo_desc" property="roominfoDesc"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, hotel_id, hotel_source_id, count, key, bed_type,
		room_name, room_type,
		area, network_price,
		room_category,
		rt_area,
		rt_floor, rt_broadband,
		rt_bedtype, rt_addbed, bath, window, wifi,
		max_customers,
		add_bed_price, currency_sign, extra_bed, order_all,
		mprice,
		has_quick_check_in,
		have_coupons,
		outer_show, district_name,
		create_time, update_time
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_ex_roomtype
		where id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		t_ex_roomtype
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.mk.crawer.biz.model.RoomType">
		insert into t_ex_roomtype (
		hotel_id, hotel_source_id, count, bed_type,
		room_name, room_type,
		area,
		network_price, room_category, rt_area,
		rt_floor, rt_broadband,
		rt_bedtype,
		rt_addbed, bath, window,
		wifi, max_customers, add_bed_price,
		currency_sign, extra_bed, order_all,
		mprice, has_quick_check_in,
		have_coupons,
		outer_show, district_name)
		values (
		#{hotelId,jdbcType=BIGINT},
		#{hotelSourceId,jdbcType=VARCHAR},
		#{count,jdbcType=BIGINT},
		#{bedType,jdbcType=VARCHAR},
		#{roomName,jdbcType=VARCHAR},
		#{roomType,jdbcType=VARCHAR},
		#{area,jdbcType=VARCHAR},
		#{networkPrice,jdbcType=VARCHAR},
		#{roomCategory,jdbcType=VARCHAR},
		#{rtArea,jdbcType=VARCHAR},
		#{rtFloor,jdbcType=VARCHAR},
		#{rtBroadband,jdbcType=VARCHAR},
		#{rtBedtype,jdbcType=VARCHAR},
		#{rtAddbed,jdbcType=VARCHAR},
		#{bath,jdbcType=VARCHAR},
		#{window,jdbcType=VARCHAR},
		#{wifi,jdbcType=VARCHAR},
		#{maxCustomers,jdbcType=BIGINT},
		#{addBedPrice,jdbcType=BIGINT},
		#{currencySign,jdbcType=VARCHAR},
		#{extraBed,jdbcType=VARCHAR},
		#{orderAll,jdbcType=VARCHAR},
		#{mprice,jdbcType=DECIMAL},
		#{hasQuickCheckIn,jdbcType=VARCHAR},
		#{haveCoupons,jdbcType=VARCHAR},
		#{outerShow,jdbcType=VARCHAR},
		#{districtName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.mk.crawer.biz.model.RoomType">
		insert into t_ex_roomtype
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="hotelId != null">
				hotel_id,
			</if>
			<if test="count != null">
				count,
			</if>
			<if test="key != null">
				key,
			</if>
			<if test="bedType != null">
				bed_type,
			</if>
			<if test="roomName != null">
				room_name,
			</if>
			<if test="roomType != null">
				room_type,
			</if>
			<if test="area != null">
				area,
			</if>
			<if test="networkPrice != null">
				network_price,
			</if>
			<if test="roomCategory != null">
				room_category,
			</if>
			<if test="rtArea != null">
				rt_area,
			</if>
			<if test="rtFloor != null">
				rt_floor,
			</if>
			<if test="rtBroadband != null">
				rt_broadband,
			</if>
			<if test="rtBedtype != null">
				rt_bedtype,
			</if>
			<if test="rtAddbed != null">
				rt_addbed,
			</if>
			<if test="bath != null">
				bath,
			</if>
			<if test="window != null">
				window,
			</if>
			<if test="wifi != null">
				wifi,
			</if>
			<if test="maxCustomers != null">
				max_customers,
			</if>
			<if test="addBedPrice != null">
				add_bed_price,
			</if>
			<if test="currencySign != null">
				currency_sign,
			</if>
			<if test="extraBed != null">
				extra_bed,
			</if>
			<if test="orderAll != null">
				order_all,
			</if>
			<if test="mprice != null">
				mprice,
			</if>
			<if test="hasQuickCheckIn != null">
				has_quick_check_in,
			</if>
			<if test="haveCoupons != null">
				have_coupons,
			</if>
			<if test="outerShow != null">
				outer_show,
			</if>
			<if test="districtName != null">
				district_name,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="hotelId != null">
				#{hotelId,jdbcType=BIGINT},
			</if>
			<if test="count != null">
				#{count,jdbcType=BIGINT},
			</if>
			<if test="key != null">
				#{key,jdbcType=BIGINT},
			</if>
			<if test="bedType != null">
				#{bedType,jdbcType=VARCHAR},
			</if>
			<if test="roomName != null">
				#{roomName,jdbcType=VARCHAR},
			</if>
			<if test="roomType != null">
				#{roomType,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				#{area,jdbcType=VARCHAR},
			</if>
			<if test="networkPrice != null">
				#{networkPrice,jdbcType=DECIMAL},
			</if>
			<if test="roomCategory != null">
				#{roomCategory,jdbcType=VARCHAR},
			</if>
			<if test="rtArea != null">
				#{rtArea,jdbcType=VARCHAR},
			</if>
			<if test="rtFloor != null">
				#{rtFloor,jdbcType=VARCHAR},
			</if>
			<if test="rtBroadband != null">
				#{rtBroadband,jdbcType=VARCHAR},
			</if>
			<if test="rtBedtype != null">
				#{rtBedtype,jdbcType=VARCHAR},
			</if>
			<if test="rtAddbed != null">
				#{rtAddbed,jdbcType=VARCHAR},
			</if>
			<if test="bath != null">
				#{bath,jdbcType=VARCHAR},
			</if>
			<if test="window != null">
				#{window,jdbcType=VARCHAR},
			</if>
			<if test="wifi != null">
				#{wifi,jdbcType=VARCHAR},
			</if>
			<if test="maxCustomers != null">
				#{maxCustomers,jdbcType=BIGINT},
			</if>
			<if test="addBedPrice != null">
				#{addBedPrice,jdbcType=BIGINT},
			</if>
			<if test="currencySign != null">
				#{currencySign,jdbcType=VARCHAR},
			</if>
			<if test="extraBed != null">
				#{extraBed,jdbcType=VARCHAR},
			</if>
			<if test="orderAll != null">
				#{orderAll,jdbcType=VARCHAR},
			</if>
			<if test="mprice != null">
				#{mprice,jdbcType=DECIMAL},
			</if>
			<if test="hasQuickCheckIn != null">
				#{hasQuickCheckIn,jdbcType=VARCHAR},
			</if>
			<if test="haveCoupons != null">
				#{haveCoupons,jdbcType=VARCHAR},
			</if>
			<if test="outerShow != null">
				#{outerShow,jdbcType=VARCHAR},
			</if>
			<if test="districtName != null">
				#{districtName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

</mapper>