<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.crawer.biz.mapper.RoomTypeMapper" >
  <resultMap id="BaseResultMap" type="com.mk.crawer.biz.model.RoomType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
    <result column="bed_type" property="bedType" jdbcType="VARCHAR" />
    <result column="room_name" property="roomName" jdbcType="VARCHAR" />
    <result column="room_type" property="roomType" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="network_price" property="networkPrice" jdbcType="DECIMAL" />
    <result column="room_category" property="roomCategory" jdbcType="VARCHAR" />
    <result column="rt_area" property="rtArea" jdbcType="VARCHAR" />
    <result column="rt_floor" property="rtFloor" jdbcType="VARCHAR" />
    <result column="rt_broadband" property="rtBroadband" jdbcType="VARCHAR" />
    <result column="rt_bedtype" property="rtBedtype" jdbcType="VARCHAR" />
    <result column="rt_addbed" property="rtAddbed" jdbcType="VARCHAR" />
    <result column="bath" property="bath" jdbcType="VARCHAR" />
    <result column="window" property="window" jdbcType="VARCHAR" />
    <result column="wifi" property="wifi" jdbcType="VARCHAR" />
    <result column="max_customers" property="maxCustomers" jdbcType="BIGINT" />
    <result column="add_bed_price" property="addBedPrice" jdbcType="BIGINT" />
    <result column="currency_sign" property="currencySign" jdbcType="VARCHAR" />
    <result column="extra_bed" property="extraBed" jdbcType="VARCHAR" />
    <result column="order_all" property="orderAll" jdbcType="VARCHAR" />
    <result column="mprice" property="mprice" jdbcType="DECIMAL" />
    <result column="has_quick_check_in" property="hasQuickCheckIn" jdbcType="VARCHAR" />
    <result column="have_coupons" property="haveCoupons" jdbcType="VARCHAR" />
    <result column="outer_show" property="outerShow" jdbcType="VARCHAR" />
    <result column="district_name" property="districtName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, hotel_id, bed_type, room_name, room_type, area, network_price, room_category, 
    rt_area, rt_floor, rt_broadband, rt_bedtype, rt_addbed, bath, window, wifi, max_customers, 
    add_bed_price, currency_sign, extra_bed, order_all, mprice, has_quick_check_in, have_coupons, 
    outer_show, district_name, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mk.crawer.biz.model.RoomTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_roomtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_roomtype
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_roomtype
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.crawer.biz.model.RoomType" >
    insert into t_roomtype (id, hotel_id, bed_type, 
      room_name, room_type, area, 
      network_price, room_category, rt_area, 
      rt_floor, rt_broadband, rt_bedtype, 
      rt_addbed, bath, window, 
      wifi, max_customers, add_bed_price, 
      currency_sign, extra_bed, order_all, 
      mprice, has_quick_check_in, have_coupons, 
      outer_show, district_name, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{hotelId,jdbcType=BIGINT}, #{bedType,jdbcType=VARCHAR}, 
      #{roomName,jdbcType=VARCHAR}, #{roomType,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{networkPrice,jdbcType=DECIMAL}, #{roomCategory,jdbcType=VARCHAR}, #{rtArea,jdbcType=VARCHAR}, 
      #{rtFloor,jdbcType=VARCHAR}, #{rtBroadband,jdbcType=VARCHAR}, #{rtBedtype,jdbcType=VARCHAR}, 
      #{rtAddbed,jdbcType=VARCHAR}, #{bath,jdbcType=VARCHAR}, #{window,jdbcType=VARCHAR}, 
      #{wifi,jdbcType=VARCHAR}, #{maxCustomers,jdbcType=BIGINT}, #{addBedPrice,jdbcType=BIGINT}, 
      #{currencySign,jdbcType=VARCHAR}, #{extraBed,jdbcType=VARCHAR}, #{orderAll,jdbcType=VARCHAR}, 
      #{mprice,jdbcType=DECIMAL}, #{hasQuickCheckIn,jdbcType=VARCHAR}, #{haveCoupons,jdbcType=VARCHAR}, 
      #{outerShow,jdbcType=VARCHAR}, #{districtName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.crawer.biz.model.RoomType" >
    insert into t_roomtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hotelId != null" >
        hotel_id,
      </if>
      <if test="bedType != null" >
        bed_type,
      </if>
      <if test="roomName != null" >
        room_name,
      </if>
      <if test="roomType != null" >
        room_type,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="networkPrice != null" >
        network_price,
      </if>
      <if test="roomCategory != null" >
        room_category,
      </if>
      <if test="rtArea != null" >
        rt_area,
      </if>
      <if test="rtFloor != null" >
        rt_floor,
      </if>
      <if test="rtBroadband != null" >
        rt_broadband,
      </if>
      <if test="rtBedtype != null" >
        rt_bedtype,
      </if>
      <if test="rtAddbed != null" >
        rt_addbed,
      </if>
      <if test="bath != null" >
        bath,
      </if>
      <if test="window != null" >
        window,
      </if>
      <if test="wifi != null" >
        wifi,
      </if>
      <if test="maxCustomers != null" >
        max_customers,
      </if>
      <if test="addBedPrice != null" >
        add_bed_price,
      </if>
      <if test="currencySign != null" >
        currency_sign,
      </if>
      <if test="extraBed != null" >
        extra_bed,
      </if>
      <if test="orderAll != null" >
        order_all,
      </if>
      <if test="mprice != null" >
        mprice,
      </if>
      <if test="hasQuickCheckIn != null" >
        has_quick_check_in,
      </if>
      <if test="haveCoupons != null" >
        have_coupons,
      </if>
      <if test="outerShow != null" >
        outer_show,
      </if>
      <if test="districtName != null" >
        district_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hotelId != null" >
        #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="bedType != null" >
        #{bedType,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null" >
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null" >
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="networkPrice != null" >
        #{networkPrice,jdbcType=DECIMAL},
      </if>
      <if test="roomCategory != null" >
        #{roomCategory,jdbcType=VARCHAR},
      </if>
      <if test="rtArea != null" >
        #{rtArea,jdbcType=VARCHAR},
      </if>
      <if test="rtFloor != null" >
        #{rtFloor,jdbcType=VARCHAR},
      </if>
      <if test="rtBroadband != null" >
        #{rtBroadband,jdbcType=VARCHAR},
      </if>
      <if test="rtBedtype != null" >
        #{rtBedtype,jdbcType=VARCHAR},
      </if>
      <if test="rtAddbed != null" >
        #{rtAddbed,jdbcType=VARCHAR},
      </if>
      <if test="bath != null" >
        #{bath,jdbcType=VARCHAR},
      </if>
      <if test="window != null" >
        #{window,jdbcType=VARCHAR},
      </if>
      <if test="wifi != null" >
        #{wifi,jdbcType=VARCHAR},
      </if>
      <if test="maxCustomers != null" >
        #{maxCustomers,jdbcType=BIGINT},
      </if>
      <if test="addBedPrice != null" >
        #{addBedPrice,jdbcType=BIGINT},
      </if>
      <if test="currencySign != null" >
        #{currencySign,jdbcType=VARCHAR},
      </if>
      <if test="extraBed != null" >
        #{extraBed,jdbcType=VARCHAR},
      </if>
      <if test="orderAll != null" >
        #{orderAll,jdbcType=VARCHAR},
      </if>
      <if test="mprice != null" >
        #{mprice,jdbcType=DECIMAL},
      </if>
      <if test="hasQuickCheckIn != null" >
        #{hasQuickCheckIn,jdbcType=VARCHAR},
      </if>
      <if test="haveCoupons != null" >
        #{haveCoupons,jdbcType=VARCHAR},
      </if>
      <if test="outerShow != null" >
        #{outerShow,jdbcType=VARCHAR},
      </if>
      <if test="districtName != null" >
        #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mk.crawer.biz.model.RoomTypeExample" resultType="java.lang.Integer" >
    select count(*) from t_roomtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.crawer.biz.model.RoomType" >
    update t_roomtype
    <set >
      <if test="hotelId != null" >
        hotel_id = #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="bedType != null" >
        bed_type = #{bedType,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null" >
        room_name = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null" >
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="networkPrice != null" >
        network_price = #{networkPrice,jdbcType=DECIMAL},
      </if>
      <if test="roomCategory != null" >
        room_category = #{roomCategory,jdbcType=VARCHAR},
      </if>
      <if test="rtArea != null" >
        rt_area = #{rtArea,jdbcType=VARCHAR},
      </if>
      <if test="rtFloor != null" >
        rt_floor = #{rtFloor,jdbcType=VARCHAR},
      </if>
      <if test="rtBroadband != null" >
        rt_broadband = #{rtBroadband,jdbcType=VARCHAR},
      </if>
      <if test="rtBedtype != null" >
        rt_bedtype = #{rtBedtype,jdbcType=VARCHAR},
      </if>
      <if test="rtAddbed != null" >
        rt_addbed = #{rtAddbed,jdbcType=VARCHAR},
      </if>
      <if test="bath != null" >
        bath = #{bath,jdbcType=VARCHAR},
      </if>
      <if test="window != null" >
        window = #{window,jdbcType=VARCHAR},
      </if>
      <if test="wifi != null" >
        wifi = #{wifi,jdbcType=VARCHAR},
      </if>
      <if test="maxCustomers != null" >
        max_customers = #{maxCustomers,jdbcType=BIGINT},
      </if>
      <if test="addBedPrice != null" >
        add_bed_price = #{addBedPrice,jdbcType=BIGINT},
      </if>
      <if test="currencySign != null" >
        currency_sign = #{currencySign,jdbcType=VARCHAR},
      </if>
      <if test="extraBed != null" >
        extra_bed = #{extraBed,jdbcType=VARCHAR},
      </if>
      <if test="orderAll != null" >
        order_all = #{orderAll,jdbcType=VARCHAR},
      </if>
      <if test="mprice != null" >
        mprice = #{mprice,jdbcType=DECIMAL},
      </if>
      <if test="hasQuickCheckIn != null" >
        has_quick_check_in = #{hasQuickCheckIn,jdbcType=VARCHAR},
      </if>
      <if test="haveCoupons != null" >
        have_coupons = #{haveCoupons,jdbcType=VARCHAR},
      </if>
      <if test="outerShow != null" >
        outer_show = #{outerShow,jdbcType=VARCHAR},
      </if>
      <if test="districtName != null" >
        district_name = #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.crawer.biz.model.RoomType" >
    update t_roomtype
    set hotel_id = #{hotelId,jdbcType=BIGINT},
      bed_type = #{bedType,jdbcType=VARCHAR},
      room_name = #{roomName,jdbcType=VARCHAR},
      room_type = #{roomType,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      network_price = #{networkPrice,jdbcType=DECIMAL},
      room_category = #{roomCategory,jdbcType=VARCHAR},
      rt_area = #{rtArea,jdbcType=VARCHAR},
      rt_floor = #{rtFloor,jdbcType=VARCHAR},
      rt_broadband = #{rtBroadband,jdbcType=VARCHAR},
      rt_bedtype = #{rtBedtype,jdbcType=VARCHAR},
      rt_addbed = #{rtAddbed,jdbcType=VARCHAR},
      bath = #{bath,jdbcType=VARCHAR},
      window = #{window,jdbcType=VARCHAR},
      wifi = #{wifi,jdbcType=VARCHAR},
      max_customers = #{maxCustomers,jdbcType=BIGINT},
      add_bed_price = #{addBedPrice,jdbcType=BIGINT},
      currency_sign = #{currencySign,jdbcType=VARCHAR},
      extra_bed = #{extraBed,jdbcType=VARCHAR},
      order_all = #{orderAll,jdbcType=VARCHAR},
      mprice = #{mprice,jdbcType=DECIMAL},
      has_quick_check_in = #{hasQuickCheckIn,jdbcType=VARCHAR},
      have_coupons = #{haveCoupons,jdbcType=VARCHAR},
      outer_show = #{outerShow,jdbcType=VARCHAR},
      district_name = #{districtName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>