<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.crawer.biz.mapper.ots.TCityListMapper">
  <resultMap id="BaseResultMap" type="com.mk.crawer.biz.model.ots.TCityList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="pin_yin" jdbcType="VARCHAR" property="pinYin" />
    <result column="acronym" jdbcType="VARCHAR" property="acronym" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="is_hot_city" jdbcType="VARCHAR" property="isHotCity" />
    <result column="range" jdbcType="DOUBLE" property="range" />
    <result column="valid" jdbcType="VARCHAR" property="valid" />
    <result column="level" jdbcType="INTEGER" property="level" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, city_name, pin_yin, acronym, sort, latitude, longitude, is_hot_city, `range`,
    valid, level
  </sql>
  <sql id="Base_Query_List">
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="code != null">
        AND code = #{code}
      </if>
      <if test="cityName != null">
        AND city_name like '%${cityName}%'
      </if>
      <if test="pinYin != null">
        AND pin_yin = #{pinYin}
      </if>
      <if test="acronym != null">
        AND acronym = #{acronym}
      </if>
      <if test="sort != null">
        AND sort = #{sort}
      </if>
      <if test="isHotCity != null">
        AND is_hot_city = #{isHotCity}
      </if>
      <if test="valid != null">
        AND valid = #{valid}
      </if>
    </where>
  </sql>

  <select id="qureyByPramas" resultMap="BaseResultMap" parameterType="com.mk.crawer.biz.model.ots.TCityList" >
    select
    <include refid="Base_Column_List" />
    from t_citylist
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    <if test="pageIndex != null and pageIndex>-1 and pageSize!=null and pageSize>0" >
      limit ${pageIndex} , ${pageSize}
    </if>
  </select>
  <select id="count" parameterType="com.mk.crawer.biz.model.ots.TCityList" resultType="java.lang.Integer" >
    select count(*) from t_citylist
    <include refid="Base_Query_List" />
    ORDER BY id DESC
  </select>
  <select id="getByPramas" resultMap="BaseResultMap" parameterType="com.mk.crawer.biz.model.ots.TCityList" >
    select
    <include refid="Base_Column_List" />
    from t_citylist
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    limit 1
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from t_citylist
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.mk.crawer.biz.model.ots.TCityList">
    insert into t_citylist (id, code, city_name, 
      pin_yin, acronym, sort,
      latitude, longitude, is_hot_city, 
      `range`, valid, level)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR},
      #{pinYin,jdbcType=VARCHAR}, #{acronym,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER},
      #{latitude,jdbcType=DECIMAL}, #{longitude,jdbcType=DECIMAL}, #{isHotCity,jdbcType=VARCHAR}, 
      #{range,jdbcType=DOUBLE}, #{valid,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER})
  </insert>
  <update id="updateById" parameterType="com.mk.crawer.biz.model.ots.TCityList">
    update t_citylist
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="pinYin != null">
        pin_yin = #{pinYin,jdbcType=VARCHAR},
      </if>
      <if test="acronym != null">
        acronym = #{acronym,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="isHotCity != null">
        is_hot_city = #{isHotCity,jdbcType=VARCHAR},
      </if>
      <if test="range != null">
        `range` = #{range,jdbcType=DOUBLE},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>